.lista_categorias{
    background: #1D1D20;
    border: 1px solid black;
    height: 40px;
    border-radius: 5px;
    margin-top: 6px;
    padding: 5px 0px 0px 10px;
    color: white;
    box-shadow: rgb(0, 0, 0) 2px 2px 2px 2px;
}

.lista_categorias a{
    position: relative;
    display: block;
    top: 5px;
    padding: 5px 0px 0px 20px;
}

.lista_categorias a:hover{
    text-decoration: none;
    color: white;
}

.lista_categorias:hover{
    background: black;
   
}

.lista_categorias img{
    position: relative;
    left: 93%;
    top: -35px;
    width: 45px;
}